
<div class="text-center">
    <br /><br /><br /><br />
    <h1 class="display-4">A hibabejelentését rögzítettük! Köszönjük. </h1>
    <h4 class="display-7">A következő sorszámmal: @ViewData["ordernumber"]?.ToString()  </h4>
</div>