@{
    ViewData["Title"] = "Hibabejelentő";
}

<div class="text-center">
    <h1 class="display-4">EverLight</h1>
    <h1 class="display-6">Hibabejelentés</h1>
    <br />
    <form action="/home/createOrder " method="get">
        <label for="PostCode"> Irányítószám:</label><br>
        <input type="text" id="PostCode" name="PostCode"><br>
        <label for="City"> Város:</label><br>
        <input type="text" id="City" name="City"><br>
        <label for="addres">Utca, házszám:</label><br>
        <input type="text" id="Address" name="Address"><br><br>
        <input type="submit" value="Küldés">
    </form>
</div>
